{% extends "layouts/base.html" %}

{% block content %}
<h2>About the Open Trials project</h2>

<p>
  This app is a small prototype for the OpenTrials project. Read more about
  the open trials project here, including information on the various channels
  to get in touch and get involved.
</p>

<h2>About this prototype</h2>

<p>
  This prototype application is a small proof of concept of the OpenTrials
  project. We've taken a single data source - a database of schizophrenia
  trial data from Cochrane - and build out the most essential aspects of
  the interface to display this data.
</p>

<p>
  Behind the scenes, the process has involved some initial exploratory work
  in defining a data model for the project, and more specifically,
  the processing of the raw data source into normalised CSV and SQL
  formats for reuse.
</p>
{% endblock %}