{% extends "layouts/base.html" %}

{% block content %}

{% set notAvailable = 'N/A' %}

{% macro longtext(s, max = 200) %}
  {% if s.length > max %}
    {{ s.substr(0, max) }}...
  {% else %}
    {{ s }}
  {% endif %}
{% endmacro %}

<section class="clearfix margin-bottom-10">
  <h2>Overview</h2>

  <div class="margin-bottom-10">
    <div class="pull-left margin-right-30">
      Condition: <strong>{{ trial.conditionOrProblem }}</strong>
    </div>
  </div>

  {% if trial.drugs.length > 0 %}
  <div class="margin-bottom-10">
    <div class="pull-left margin-right-30">
      Treatment:
      {% for drug in trial.drugs %}
        <span>{{ drug.technicalName }}</span>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="margin-bottom-10">
    <div class="pull-left margin-right-30">
      <i class="glyphicon glyphicon-calendar margin-right-4"></i>
      {% if trial.dateFrom or trial.dateTo %}
        {{ trial.dateFrom if trial.dateFrom else notAvailable }} -
        {{ trial.dateTo if trial.dateTo else notAvailable }}
      {% else %}
        {{ notAvailable }}
      {% endif %}
    </div>

    <div class="pull-left margin-right-30">
      <span class="badge">{{ trial.sampleSize }}</span> Participants
    </div>

    {% set joinAnd = joiner(' and ') %}
    <div class="pull-left margin-right-30">
      <i class="glyphicon glyphicon-user margin-right-4"></i>
      {% if trial.sex.length > 0 %}
        {% for sex in trial.sex %}{{ joinAnd() }}{{ sex }}{% endfor %}
      {% else %}
        {{ notAvailable }}
      {% endif %}
    </div>

    <div class="pull-left">
      <span>Aged</span>
      {% if trial.ageFrom or trial.ageTo %}
        {{ trial.ageFrom if trial.ageFrom else notAvailable }} -
        {{ trial.ageTo if trial.ageTo else notAvailable }}
      {% else %}
        {{ notAvailable }}
      {% endif %}
    </div>
  </div>
</section>
<hr>

<section>
  <h2>Trial</h2>
  <div class="table-responsive">
  <table class="table table-bordered" cellspacing="0" cellpadding="0" border="0">
    <thead>
      <tr>
        <th>Public title</th>
        <th>Scientific title</th>
        <th>Date from</th>
        <th>Date to</th>
        <th>Sample size</th>
        <th>Age from</th>
        <th>Age to</th>
        <th>Sex</th>
        <th>Source of funding</th>
        <th>Countries</th>
        <th>Contacts</th>
        <th>Notes</th>
        <th>Exclusion criteria</th>
        <th>Interventions</th>
        <th>Outcomes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ trial.publicTitle }}</td>
        <td>{{ trial.scientificTitle }}</td>
        <td>{{ trial.dateFrom }}</td>
        <td>{{ trial.dateTo }}</td>
        <td>{{ trial.sampleSize }}</td>
        <td>{{ trial.ageFrom }}</td>
        <td>{{ trial.ageTo }}</td>
        <td>{{ trial.sex.toString() }}</td>
        <td>{{ trial.sourceOfFunding }}</td>
        <td>{{ trial.countries }}</td>
        <td>{{ trial.contacts }}</td>
        <td>{{ longtext(trial.notes) }}</td>
        <td>{{ longtext(trial.exclusionCriteria) }}</td>
        <td>{{ longtext(trial.interventions.toString()) }}</td>
        <td>{{ longtext(trial.outcomes.toString()) }}</td>
      </tr>
    </tbody>
  </table>
  </div>
</section>

<section>
  <h2>Source</h2>
  <div class="table-responsive">
  <table class="table table-bordered" cellspacing="0" cellpadding="0" border="0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ trial.source.title }}</td>
        <td>{{ longtext(trial.source.description) }}</td>
        <td>{{ trial.source.category }}</td>
      </tr>
    </tbody>
  </table>
  </div>
</section>

<section>
  <h2>Reviews</h2>
  <div class="table-responsive">
  <table class="table table-bordered" cellspacing="0" cellpadding="0" border="0">
    <thead>
      <tr>
        <th>Type</th>
        <th>Link</th>
        <th>Title</th>
        <th>Notes</th>
        <th>Contacts</th>
        <th>Abstract</th>
        <th>Language</th>
        <th>Authors</th>
        <th>Publisher</th>
        <th>Journal</th>
        <th>Year</th>
        <th>Volume</th>
        <th>Issue</th>
        <th>Pages</th>
      </tr>
    </thead>
    <tbody>
      {% for item in trial.reviews %}
      <tr>
        <td>{{ item.type }}</td>
        <td>{{ item.link }}</td>
        <td>{{ item.title }}</td>
        <td>{{ longtext(item.notes) }}</td>
        <td>{{ item.contacts }}</td>
        <td>{{ longtext(item.abstract) }}</td>
        <td>{{ item.language }}</td>
        <td>{{ item.authors }}</td>
        <td>{{ item.publisher }}</td>
        <td>{{ item.journal }}</td>
        <td>{{ item.year }}</td>
        <td>{{ item.volume }}</td>
        <td>{{ item.issue }}</td>
        <td>{{ item.pages }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</section>

<section>
  <h2>Drugs</h2>
  <div class="table-responsive">
  <table class="table table-bordered" cellspacing="0" cellpadding="0" border="0">
    <thead>
      <tr>
        <th>Technical name</th>
        <th>Trade name</th>
        <th>WHO DDE</th>
        <th>Category</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for item in trial.drugs %}
      <tr>
        <td>{{ item.technicalName }}</td>
        <td>{{ item.tradeName }}</td>
        <td>{{ item.whoDde }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</section>

<section>
  <h2>Methods</h2>
  <div class="table-responsive">
  <table class="table table-bordered" cellspacing="0" cellpadding="0" border="0">
    <thead>
      <tr>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for item in trial.methods %}
      <tr>
        <td>{{ item.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</section>

<section>
  <h2>Conditions</h2>
  <div class="table-responsive">
  <table class="table table-bordered" cellspacing="0" cellpadding="0" border="0">
    <thead>
      <tr>
        <th>Meddra</th>
        <th>WHO ICD10</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for item in trial.conditions %}
      <tr>
        <td>{{ item.meddra }}</td>
        <td>{{ item.whoIcd10 }}</td>
        <td>{{ item.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</section>

<section>
  <h2>Documents</h2>
  <div class="table-responsive">
  <table class="table table-bordered" cellspacing="0" cellpadding="0" border="0">
    <thead>
      <tr>
        <th>Tag</th>
        <th>Type</th>
        <th>Contents <i>(BINARY DATA)</i></th>
      </tr>
    </thead>
    <tbody>
      {% for item in trial.documents %}
      <tr>
        <td>{{ item.tag }}</td>
        <td>{{ item.type }}</td>
        <td><i>({{ item.contents.length }} byte(s))</i></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</section>

{% endblock %}