{% extends "layouts/base.html" %}

{% block content %}

<section class="clearfix margin-bottom-10">
  <h2>Overview</h2>
  {% include "partials/trial-snippet.html" %}
  <hr>
</section>

<div class="row">

  <section id="main" class="col-sm-9">

    <section class="clearfix margin-bottom-10">
      <h2>Interventions</h2>
      <div>
        {% if trial.interventions.length > 0 %}
        <p>This trial employed {{ trial.interventions.length }} interventions:</p>
        <ul>
          {% for item in trial.interventions %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No data avaiable.</p>
        {% endif %}
      </div>
    </section>

    <section class="clearfix margin-bottom-10">
      <h2>Outcomes</h2>
      <div>
        {% if trial.outcomes.length > 0 %}
        <p>This trial records {{ trial.outcomes.length }} outcomes:</p>
        <ul>
          {% for item in trial.outcomes %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No data avaiable.</p>
        {% endif %}
      </div>
    </section>

    <section class="clearfix margin-bottom-10">
      <h2>Reviews</h2>
      <div>
        {% if trial.reviews.length > 0 %}
        <p>This trial has {{ trial.reviews.length }} reviews:</p>
        <ul class="unstyled">
          {% for item in trial.reviews %}
          <li>
            <div class="ot-collapsed-text">
              <div class="margin-bottom-4">
                <i class="fa fa-file-text-o margin-right-4"></i>{{ item.title }}
                {% if item.type %}<i class="text-muted">({{ item.type }})</i>{% endif %}
              </div>
              <div class="margin-bottom-4">
                {% if item.authors %}{{ item.authors }}{% endif %}
                {% if item.journal %}
                {% if item.authors %} / {% endif %}{{ item.journal }}
                {% endif %}
                {% if item.authors or item.journal %}, {% endif %}

                {% if item.year %}{{ item.year}}{% endif %}
                {% if item.volume %}
                  {% if item.authors or item.journal or item.year %} &ndash; {% endif %}
                  Vol.{{item.volume}}
                {% endif %}
                {% if item.pages %}
                  {% if item.authors or item.journal or item.year or item.volume %}, {% endif %}
                  {{ item.pages }}
                {% endif %}
              </div>
              <div class="block-contents"><i>{{ item.abstract }}</i></div>
              <div>
                <a class="button-expand" href="javascript:void(0)"><i class="fa fa-angle-right margin-right-4"></i>Show more</a>
                <a class="button-collapse" href="javascript:void(0)"><i class="fa fa-angle-up margin-right-4"></i>Hide</a>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>This trial has no recorded reviews.</p>
        {% endif %}
      </div>
    </section>

    <section class="clearfix margin-bottom-10">
      <h2>Methods</h2>
      <div>
        {% if trial.methods.length > 0 %}
        <p>This trial employed {{ trial.methods.length }} methods:</p>
        <ul>
          {% for item in trial.methods %}
          <li>{{ item.description }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>This trial has no recorded methods.</p>
        {% endif %}
      </div>
    </section>

    <section class="clearfix margin-bottom-10">
      <h2>Conditions</h2>
      <div>
        {% if trial.conditions.length > 0 %}
        <p>This trial targeted {{ trial.conditions.length }} conditions:</p>
        <ul>
          {% for item in trial.conditions %}
          <li>{{ item.description }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>This trial has no recorded conditions.</p>
        {% endif %}
      </div>
    </section>

    <section class="clearfix margin-bottom-10">
      <h2>Documents</h2>
      <div>
        <p>This trial has no additional documents.</p>
      </div>
    </section>

  </section>

  <aside id="right-sidebar" class="col-sm-3">

    {% if trial.countries %}
    <section class="margin-bottom-30">
      <h4 class="text-info"><i class="fa fa-flag-o margin-right-10"></i>Countries:</h4>
      <div class="margin-bottom-4">{{ trial.countries }}</div>
    </section>
    {% endif %}

    {% if trial.contacts %}
    <section class="margin-bottom-30">
      <h4 class="text-info"><i class="fa fa-envelope-o margin-right-10"></i>Contacts:</h4>
      <div class="margin-bottom-4">{{ trial.contacts }}</div>
    </section>
    {% endif %}

    {% if trial.source %}
    <section class="margin-bottom-30">
      <h4 class="text-info"><i class="fa fa-sticky-note-o margin-right-10"></i>Source:</h4>
      <div class="margin-bottom-4"><b>{{ trial.source.title }}</b></div>
      <div class="margin-bottom-4">{{ trial.source.description }}</div>
      <div class="margin-bottom-4">{{ trial.source.category }}</div>
    </section>
    {% endif %}

  </aside>

</div>

{% endblock %}