<nav class="text-center">
  <ul class="pagination">
    {% if pagination.currentPage == 1 %}
    <li class="disabled"><a href="javascript:void(0)">&laquo;</a></li>
    {% else %}
    <li><a href="{{ getUrlForPage(pagination.currentPage - 1) }}">&laquo;</a></li>
    {% endif %}

    {% for page in range(1, pagination.pageCount + 1) %}
      {% if page == pagination.currentPage %}
      <li class="active"><a href="javascript:void(0)">{{ page }}</a></li>
      {% else %}
      <li><a href="{{ getUrlForPage(page) }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if pagination.currentPage == pagination.pageCount %}
    <li class="disabled"><a href="javascript:void(0)">&raquo;</a></li>
    {% else %}
    <li><a href="{{ getUrlForPage(pagination.currentPage + 1) }}">&raquo;</a></li>
    {% endif %}
  </ul>
</nav>