<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles/vendor.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/app.min.css" />
  </head>
  <body>
    {% include "partials/header.html"  %}
    {% include "partials/navigation.html"  %}
    <div class="container-fluid">
      {% block title %}<h1>{{ title }}</h1>{% endblock %}
      <div>{% block content %}{% endblock %}</div>
    </div>
    {% include "partials/footer.html"  %}
    <script src="/scripts/vendor.min.js"></script>
    <script src="/scripts/app.min.js"></script>
  </body>
</html>